.page-title {
    font-family: 'Itim', cursive;
    color: lavender;
    font-size: 6em;
    text-align: center;
}

.game-info {
    font-family: 'Inconsolata', monospace;
    font-size: 4em;
    color: lavender;
    text-align: center;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(#667eea, #764ba2);
}

html {
    min-height: 100vh;
}

