.page-title {
    font-family: 'Itim', cursive;
    color: lavender;
    font-size: 5em;
    text-align: center;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }

.game-info {
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
    color: lavender;
    
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(#667eea, #764ba2);
}

html {
    min-height: 100vh;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    
    position: relative;
    height: 175px;
    width: 125px;
}

footer {
    color:lavender;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

a:link {
    color:lightblue;
}

a:visited {
    color: lightpink;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    
}

.card-back {
    background:#280558;
    border-color: #fdb3ff; 
}

.card-front {
    transform: rotateX(189deg);
}

.sun {
    position: absolute;
    width: 30px;
    height: 30px;
}

.sun-top-left {
    top: 0;
    left: 0;
}

.sun-top-right {
    top: 0;
    right: 0;
}

.sun-bottom-left {
    bottom: 0;
    left: 0;
}

.sun-bottom-right {
    bottom: 0;
    right: 0;
}

.basket {
    /* align-self: flex-start; */
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
    width: 90px;
    height: 90px;
    
}

.card-back:hover .basket {
    transform: translateY(0)
}


